<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.philips.lighting.hue.local.sdk.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
       android:theme="@style/AppTheme">
        <activity
            android:name=".PHHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.philips.lighting.hue.local.sdk.demo.PHAccessPointListActivity"
            android:label="@string/txt_find_new_bridge" >
        </activity>
        <activity
            android:name=".PHPushlinkActivity"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/txt_pushlink" >
        </activity>
        <activity
            android:name=".light.PHFindNewLightsManualActivity"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize"
	        android:label="@string/txt_find_New_Lights_manual" >
        </activity>
        <activity
            android:name=".light.PHFindNewLightsActivity"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/txt_find_New_Lights" >
        </activity>
       
        <activity
            android:name=".light.PHLightFeaturesActivity"
            android:label="@string/txt_light_features" >
        </activity>
         <activity
            android:name=".light.PHRenameLightListActivity"
            android:label="@string/txt_light_rename" >
        </activity>
        <activity
            android:name=".light.PHUpdateLightStateActivity"
            android:label="@string/txt_light_state" >
        </activity>
        <activity
            android:name=".light.PHGetLightsActivity"
            android:label="@string/txt_light_list" >
        </activity>
        <activity
            android:name=".group.PHGroupFeaturesActivity"
            android:label="@string/txt_group_features">
        </activity>
              
        <activity
            android:name=".group.PHSetLightStateForGroupActivity"
            android:label="@string/txt_group_light_state" >
        </activity>
        <activity
            android:name=".group.PHCreateGroupActivity"
            android:label="@string/txt_group_create"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".group.PHGetGroupsActivity"
            android:label="@string/txt_group_list" >
        </activity>
        <activity
            android:name=".group.PHDeleteGroupActivity"
            android:label="@string/txt_group_delete" >
        </activity>
        <activity
            android:name=".group.PHRenameGroupActivity"
            android:label="@string/txt_group_rename" >
        </activity>
         <activity
            android:name=".bridge.PHBridgeConfigurationActivity"
            android:label="@string/txt_configscreen_title">
        </activity>
        <activity
            android:name=".bridge.PHBridgeFeaturesActivity"
            android:label="@string/txt_bridge_features" >
        </activity>
        <activity
            android:name=".schedule.PHScheduleFeatureActivity"
            android:label="@string/txt_schedule_features" >
        </activity>
        <activity
            android:name=".schedule.PHNonRecurringScheduleFeaturesActivity"
            android:label="@string/txt_non_recurring_schedule_features" >
        </activity>
        <activity
            android:name=".schedule.PHCreateNonRecurringScheduleActivity"
            android:label="@string/txt_non_recurring_schedule_create"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".schedule.PHUpdateNonRecurringScheduleActivity"
            android:label="@string/txt_non_recurring_schedule_update"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".schedule.PHRemoveNonRecurringScheduleActivity"
            android:label="@string/txt_non_recurring_schedule_remove" >
        </activity>
        <activity
            android:name=".schedule.PHRecurringScheduleFeaturesActivity"
            android:label="@string/txt_recurring_schedule_features" >
        </activity>
        <activity
            android:name=".schedule.PHCreateRecurringScheduleActivity"
            android:label="@string/txt_recurring_schedule_create"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".schedule.PHUpdateRecurringScheduleActivity"
            android:label="@string/txt_recurring_schedule_update"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".schedule.PHRemoveRecurringScheduleActivity"
            android:label="@string/txt_recurring_schedule_remove" >
        </activity>
        <activity
            android:name=".schedule.PHTimerFeaturesActivity"
            android:label="@string/txt_timer_features" >
        </activity>
        <activity
            android:name=".schedule.PHCreateTimerActivity"
            android:label="@string/txt_timer_create"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".schedule.PHUpdateTimerActivity"
            android:label="@string/txt_timer_update"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".schedule.PHUpdateScheduleLightStateActivity"
            android:label="@string/txt_timer_light_state_update"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".schedule.PHRemoveTimerActivity"
            android:label="@string/txt_timer_remove" >
        </activity>
        <activity
            android:name=".schedule.PHRecurringTimerFeaturesActivity"
            android:label="@string/txt_recurring_timer_features" >
        </activity>
        <activity
            android:name=".schedule.PHCreateRecurringTimerActivity"
            android:label="@string/txt_recurring_timer_create"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".schedule.PHUpdateRecurringTimerActivity"
            android:label="@string/txt_recurring_timer_update"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".schedule.PHRemoveRecurringTimerActivity"
            android:label="@string/txt_recurring_timer_remove" >
        </activity>
        <activity
            android:name=".scene.PHCreateSceneActivity"
            android:label="@string/txt_create_scene"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".scene.PHSceneFeaturesActivity"
            android:label="@string/txt_scene_features">
        </activity>
        <activity
            android:name=".scene.PHGetScenesActivity"
            android:label="@string/txt_scene_show" >
        </activity>
        <activity
            android:name=".scene.PHSceneActivateActivity"
            android:label="@string/txt_activate_scene" >
        </activity>
    </application>

</manifest>